@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");


/*
 ______________________________________________
|                                              |
|     DEFAULT BODY, ROOT AND OTHER TAG CSS     |
|______________________________________________|
*/

:root {
  --bg-shades: #0a1930;
  --card-color: #264653;
}

html {
  background-color: var(--bg-shades);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Lobster Two", cursive;
}

img {
  width: 2rem;
  height: 2rem;
}

button {
  background-color: rgb(120, 86, 255);
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  color: white;
  font-size: 15px;
  font-weight: 700;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(0.9);
}

button:focus {
  cursor: pointer;
  outline: none;
}

/*
 ______________________________________________
|                                              |
|              UTILITIES CLASS                 |
|______________________________________________|
*/

.container {
  max-width: 80%;
  margin: 0rem auto;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0rem 1rem;
  padding: 0rem 2rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 var(--card-color);
  width: 30rem;
  margin: 2rem auto;
  padding: 0rem 2rem;
  left: auto;
  right: auto;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}


/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/


@media screen and (max-width: 400px) {
  .card {
    width: auto;
  }
}
